// 全局mixin，自动引入

@mixin red() {
  color: red;
}

@mixin flex($hov: space-between, $col: center) {
  display: flex;
  justify-content: $hov;
  align-items: $col;
}
@mixin bgImg($w: 0, $h: 0, $img: '', $size: contain) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($img) no-repeat center;
  background-size: $size;
}
@mixin position($pos: absolute, $top: 0, $left: 0, $w: 100%, $h: 100%) {
  width: $w;
  height: $h;
  position: $pos;
  top: $top;
  left: $left;
}
@mixin positionImg($pos: absolute, $top: 0, $right: 0, $w: 0, $h: 0, $img: '') {
  width: $w;
  height: $h;
  position: $pos;
  top: $top;
  right: $right;
  background: url($img) no-repeat center;
  background-size: contain;
}
